<!DOCTYPE html>
<html>
  
  <head>
    <title>My Webpage</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    
    <div class="container" id="main">

	       <div class="navbar navbar-fixed-top navbar-default">
              
               <div class="container">
               
                   <a class="navbar-brand" href="#"><%= image_tag("logo.png", alt: "My Logo") %></a>
                   
                   <ul class="nav navbar-nav">
                       
                       <li class="active"><a href="#">Home</a></li>
                       
                       <li><a href="#">My Projects</a></li>
                        
                   </ul><!-- end nav -->
                   
               </div><!-- end navbar container -->
               
	       </div><!-- end navbar -->
    
  </body>
</html>